@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

body{
	margin: 0px;
}

header{
	background: black;
	color: white;
	padding: 8px 20px 6px 40px;
	height: 40px;
}

header h1{
	display: inline;
	font-family:'Courier New', Courier, monospace;
	font-weight: 400;
	font-size: 32px;
	float: left;
	font-weight: bold;

	margin-top: 0px;
	margin-right: 10px;
}

nav ul {
	display: inline;
	padding: 0px;
	float: right;
}

nav ul li{
	display: inline-block;
	list-style-type: none;
	color: white;
	float: left;
	margin-left: 12px;
	

}

nav ul li a{
	font-weight: bold;
	color: white;
	text-decoration: none;	
}


nav ul ul{
	display: none;
	position: absolute;
}

#navli ul li ul:hovar{
	visibility: visible;
	display: block;
}





#navli{
	font-family: 'Montserrat', sans-serif;
}

.homered {
	background-color: rgb(2, 2, 2);
	padding: 2px 5px 5px 5px;
	border-radius: 15px;
	line-height: 20px;
	margin-right: 7px;
}

.divider {
	background-color: rgb(17, 17, 17);
	height: 5px;
}
.homeblack{
	border-radius: 20px;
	padding: 2px 5px 5px 5px;
	background-color: gray;
}
.homeblack:hover {
	background-color: rgb(179, 205, 120);
	padding: 2px 5px 5px 5px;
	border-radius: 20px;

}


.info{
	margin: 10px;
	font-family: 'Montserrat', sans-serif;
	border: 5px solid green;
	width: 300px;
	height: auto;
	position: static;
	left: 100px;
}

.name{
	font-size: 20px;
	margin-left: 10px;
	width: 200px;
	float: right;
}